body {
    background-color: beige;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 50px 30px;
}

.left-site {
    width: 360px;
    height: 720px;
    background-color: white;
    border-radius: 25px;
    padding: 20px 20px;
    position: relative;
}

.right-site {
    width: 360px;
    height: 720px;
    background-color: white;
    border-radius: 25px;
    padding: 20px 20px;
}

.status-bar {
    padding: 20px 10px;
    font-size: 15px;
    margin-bottom: 20px;
}

.status-bar__column {
    display: flex;
    justify-content: space-between;
}
.singer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.singer-image {
    width: 80px;
    height: 80px;
    border-radius: 50px;
    box-shadow: 1px 5px 5px pink;
    margin-bottom: 30px;
}

.singer-data {
    font-size: 20px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.singer-data__name {
    font-weight: bolder;
    margin-bottom: 15px;
}

.singer-data__gerne {
    font-size: 13px;
    opacity: 0.5;
    margin-bottom: 25px;
}

.btn {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.btn__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 30px;
    border-radius: 25px;
}

.btn__btn:first-child {
    background-color: black;
    color: white;
    margin-right: 5px;
}

.btn__btn:last-child {
    background-color: aqua;
    margin-left: 10px;
}

.song-list {
    display: flex;
    width: 320px;
    height: 55px;
    justify-content: space-between;
    align-items: center;
    margin: 10px 10px;
}

.song-list-name {
    display: block;
}

.song-list__cover__image {
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

.song-list-name {
    box-sizing: border-box;
    margin-left: -100px;
}
.song-list-name__small {
    font-size: 12px;
    opacity: 0.7;
}
.song-list-name__big {
    font-weight: bold;
    font-size: 18px;
}

.song-list__emogi {
    opacity: 0.6;
}

.nav {
    width: 350px;
    height: 65px;
    background-color: black;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 1px 2px 5px black;
    position: absolute;
}

.nav-left {
    color: white;
    margin-left: 20px;
}

.nav-name__small {
    font-size: 12px;
    opacity: 0.7;
}
.nav-name__big {
    font-weight: bold;
}

.nav-right {
    display: flex;
    align-items: center;
    margin-right: 30px;
    color: white;
    font-size: 20px;
}

.nav-right i:nth-child(2) {
    margin: 0 30px;
}

.play {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 20px;
    margin-top: 50px;
    margin-bottom: 30px;
}
.play-song {
    width: 260px;
    height: 260px;
    box-shadow: 5px 5px 5px 10px pink;
    border-radius: 20px;
}

.music-bar__time {
    display: flex;
    justify-content: space-between;
    font-size: 10px;
    font-weight: bold;
    opacity: 0.5;
    margin-bottom: 10px;
}

.music-bar-now {
    position: relative;
}

.music-bar-now__left {
    position: absolute;
    height: 5px;
    border-radius: 5px;
    background-color: black;
    width: 215px;
}

.music-bar-now__right {
    background-color: #f1f1f3;
    height: 5px;
    border-radius: 5px;
}

.music-bar-now__point {
    position: absolute;
    height: 12px;
    width: 12px;
    left: 210px;
    background-color: black;
    border-radius: 50px;
    top: -4px;
}

.music-bar-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}

.music-bar-btn div {
    background-color: black;
    width: 60px;
    height: 60px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.9);
}

.music-bar-btn i:first-child,
.music-bar-btn i:last-child {
    opacity: 0.3;
}
